:root{
	
	--main-detailPlan-color : #ADD8E6;
	--main-plan-color : #6495ED;

}

*{
	font-family: 돋음, Dotum, "Nunito", Time, sans-serif;

}

body {background-color: var(--main-detailPlan-color); text-align: center;}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
	height: 150%;
	table-layout: fixed;
}

.wrapper {width: 100%; height: 100%; background-color: var(--main-detailPlan-color);}
.wrapper1 {width: 80%; height: 1000px; margin: auto;}

.subColor {background-color: var(--main-plan-color);}
.HAPPYNEWYEAR {background-color: #003366;}
